@font-face {
    font-family: "HY01GHM";
    src: url("./public/HY01GHM.ttf");
}

.c5Community {
    margin: 0 auto;
    position: relative;
}

.c5title {
    left: 66px;
    top: 2px;
    width: 220px;
    height: 80px;
    opacity: 1;
    border-radius: 11px;
    background: linear-gradient(121.72deg, rgba(254, 181, 175, 1) 0%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    padding: 9px 12px 0px 12px;
}

.c5title > div:nth-child(1) {
    font-family: HY01GHM;
    font-size: 20px;
}

.c5title > div:nth-child(2) {
    color: rgba(24, 144, 255, 1);
    font-size: 14px;
    cursor: pointer;
}

.c5Card {
    background: rgb(250, 247, 247);
    height: 193px;
    border-radius: 25px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    top: -45px;
    padding: 0px 41px 0px 41px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.c5Card > .Nearby {
    display: flex;

    width: 100%;
    justify-content: space-between;
}

.c5Card > .Nearby > .left {
    display: flex;
}

.c5Card > .Nearby > .left > div:nth-child(1) {
    left: 105.09px;
    top: 58px;
    width: 57.05px;
    height: 54px;
    opacity: 1;
    border-radius: 15px;
    background: rgba(254, 173, 166, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 11px;
}

.c5Card > .Nearby > .left > div:nth-child(1) > img {
    width: 32px;
    height: 25px;
}

.c5Card > .Nearby > .left > div:nth-child(2) > .top {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 28.96px;
    color: rgba(0, 0, 0, 1);
}

.c5Card > .Nearby > .left > div:nth-child(2) > .c3bottom {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 20.27px;
    color: rgba(128, 128, 128, 1);
}

.c5Card > .Nearby > .right {
    display: flex;
    align-items: center;
}

.c5Card > .Nearby > .right > div {
    width: 74px;
    height: 32px;
    opacity: 1;
    border-radius: 6px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 14px;
    text-align: center;
    line-height: 32px;
}

.c5Additional {
    width: 63px;
    height: 149px;
    position: fixed;
    z-index: 100;
    right: 100px;
    bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
}

.c5Additional > div {
    width: 63px;
    height: 63px;
    opacity: 1;
    background: rgba(254, 181, 175, 1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.c5Additional > div > img {
    width: 32px;
    height: 32px;
}

.c1hand {
    cursor: pointer;
}

.c1commentbox {
    padding-top: 6px;
}
