.c2Modal {
    position: relative;
}

.c2footerBtn {
    bottom: 0px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.c2footerBtn>div:nth-child(2) {
    display: flex;
}
